.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock

# Android
android/local.properties
android/.gradle/
android/key.properties
*.jks
*.keystore

# IDE
.idea/
*.iml
.vscode/
